# Gemini API Key
# Lấy tại: https://aistudio.google.com/app/apikey
GEMINI_API_KEY=AIzaSyA7LVyFJTxs20yNcy4uIu9BM2_aGcuTP3k

# Flask Secret Key (dùng cho session)
# Tạo random string dài và phức tạp
SECRET_KEY=35dbeb0a95141776330e7797d75dc9d5f1a2ea595aefae49ab6477a50fcaf4e7
